@font-face {
     font-family: Poppins-Regular;
     src: url(Fonts/Poppins-Regular.ttf);
}

@font-face {
     font-family: Poppins-Lighter;
     src: url(Fonts/Poppins-Light.ttf);
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* background: #00030F; */
     /* background-color: #121212; */
     color: white;
}

.box {
     width: 150px;
     height: 150px;
     border: 1px solid red;
     display: inline-block;
}

.hero-container {
     font-family: Poppins;
     width: 100%;
     height: 812px;
     flex-shrink: 0;
     background: linear-gradient(180deg, #00030F 15%, rgba(0, 0, 0, 0.00) 44.47%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #00030F 74.48%), url("https://cdn.discordapp.com/attachments/1075621727004016721/1143225081661763694/heroBanner_IMG2.png"), lightgray 50% / cover no-repeat;
}

.logo {
     color: var(--beyaz, #e9e9e9);
     font-family: Gotham;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 1.4px;
     position: absolute;
     top: 34px;
     left: 110px;
}

.green-dot-svg {
     position: absolute;
     top: 41px;
     left: 209px;
}

/* ERROR */
/* .hero-banner-img{
     position: absolute;
     left: 30px;
     width: 93rem;
     height: 812px;
     background-image: url(https://cdn.discordapp.com/attachments/1075621727004016721/1143223268392849438/heroBanner_IMG.png);
     background-repeat: no-repeat;
     background-size: auto;
     object-fit: contain;
} */

.nav-links {
     color: #FFF;
}

#nav-link-1 {
     position: absolute;
     top: 34px;
     left: 466px;
}

#nav-link-2 {
     position: absolute;
     top: 34px;
     left: 580px;
}

#nav-link-3 {
     position: absolute;
     top: 34px;
     left: 707px;
}

#nav-link-4 {
     position: absolute;
     top: 34px;
     left: 834px;
}

#nav-link-5 {
     position: absolute;
     top: 34px;
     left: 1000px;
}

#nav-active-link {
     position: absolute;
     top: 57px;
     left: 462px;
}

.login-box {
     position: absolute;
     top: 25px;
     left: 1300px;
}

.login-text {
     position: absolute;
     top: 11px;
     left: 56px;
     color: #080808;
     font-family: Gotham;
     font-size: 12px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
}

#login-icon {
     position: absolute;
     top: 10px;
     left: 26px;
}

.search-box {
     color: black;
}

#search-input {
     color: black;
     width: 360px;
     height: 42px;
     padding-left: 10px;
     position: absolute;
     left: 570px;
     top: 120px;
     border-radius: 10px;
}

.search-text {
     color: #070E31;
     text-align: center;
     font-family: Gotham;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 189.5%;
     /* 30.32px */
     position: absolute;
     left: 620px;
     top: 126px;
}

.search-box svg {
     position: absolute;
     left: 590px;
     top: 134px;
}

.text-des-title {
     color: #FFF;
     text-align: center;
     font-family: Gotham;
     font-size: 30px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     text-transform: uppercase;
     width: 100%;
     position: absolute;
     /* left: 390px; */
     top: 221px;
}

.text-des-des {
     color: #ABABAB;
     text-align: center;
     font-family: Gotham;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     text-transform: uppercase;
     width: 100%;
     position: absolute;
     /* left: 100px; */
     top: 393px;
}

.creators-btn {
     width: 172px;
     height: 39px;
     flex-shrink: 0;
     border-radius: 3px;
     background: #070E31;
     box-shadow: 2px 2px 0px 0px #44D464;
     position: absolute;
     left: 570px;
     top: 577px;
     cursor: pointer;
}

.creators-btn-text {
     color: #D9D9D9;
     font-family: Gotham;
     font-size: 17px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     text-transform: uppercase;
     position: absolute;
     left: 36px;
     top: 9px;
}

.games-btn {
     width: 172px;
     height: 39px;
     flex-shrink: 0;
     border-radius: 3px;
     background: #070E31;
     box-shadow: 2px 2px 0px 0px #44D464;
     position: absolute;
     left: 770px;
     top: 577px;
     cursor: pointer;
}

.games-btn-text {
     color: #D9D9D9;
     font-family: Gotham;
     font-size: 17px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     text-transform: uppercase;
     position: absolute;
     left: 54px;
     top: 9px;
}

/* ERROR */
#arrow-down-svg {
     width: 26px;
     height: 20.057px;
     flex-shrink: 0;
     position: absolute;
     left: 742px;
     top: 700px;
}

#hero-bottom-line {
     stroke-width: 5px;
     stroke: #44D464;
     width: 380px;
     /* height: 0px; */
     flex-shrink: 0;
     position: absolute;
     left: 561.5px;
     top: 750px;
}

.body-1 {
     background: #00030F;
     width: 100%;
     height: 1000px;
}

.body-1-title {
     color: #FFF;
     font-family: Gotham;
     font-size: 32px;
     font-style: normal;
     font-weight: 700;
     line-height: 187.5%;
     /* 78.75px */
     position: absolute;
     left: 110px;
     top: 906px;
}

.body1-see-all {
     color: #FFF;
     font-family: Poppins;
     background: rgba(255, 255, 255, 0.11);
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 187.5%;
     position: absolute;
     left: 1260px;
     top: 906px;
     cursor: pointer;
     width: 120px;
     height: 50px;
     border-radius: 10px;
}

.see-all-btn {
     position: absolute;
     left: 25px;
     top: 7px;
}

.body-1-gameRow1 {
     width: 1258px;
     height: 361px;
     position: absolute;
     left: 110px;
     top: 1027px;
     display: inline-flex;
     align-items: flex-start;
     gap: 84px;
}

.game-1,
.game-2,
.game-3,
.game-4 {
     /* position: absolute;
     left: 0px;
     top: 0px; */
     width: 252px;
     height: 277px;
     flex-shrink: 0;
     background: #44D464;
     border-radius: 20px;
}

.game-1 {
     background: url("https://cdn.discordapp.com/attachments/1075621727004016721/1143886862428151808/Valo.png"), lightgray 50% / cover no-repeat;
}

.game-2 {
     background: url("https://cdn.discordapp.com/attachments/1075621727004016721/1143886862663024710/Apex.png"), lightgray 50% / cover no-repeat;
}

.game-3 {
     background: url("https://cdn.discordapp.com/attachments/1075621727004016721/1143886862876942457/CODW.png"), lightgray 50% / cover no-repeat;
}

.game-4 {
     background: url("https://cdn.discordapp.com/attachments/1075621727004016721/1143886863116009513/CSGO.png"), lightgray 50% / cover no-repeat;
}

.body-1-gameRow1-names {
     color: #FFF;
     /* text-align: center; */
     font-family: sans-serif;
     font-size: 10px;
     line-height: 187.5%; /* 41.25px */
     position: absolute;
     left: 25%;
     top: 1324px;
}

.body-2-gameRow1 {
     width: 1258px;
     height: 361px;
     position: absolute;
     left: 110px;
     top: 1434px;
     display: inline-flex;
     align-items: flex-start;
     gap: 84px;
}

.game-5,
.game-6,
.game-7,
.game-8 {
     /* position: absolute;
     left: 0px;
     top: 0px; */
     width: 252px;
     height: 277px;
     flex-shrink: 0;
     background: #44D464;
     border-radius: 20px;
}

.game-5 {
     background: url("https://cdn.discordapp.com/attachments/1075621727004016721/1143886863380267028/FIFA23.png"), lightgray 50% / cover no-repeat;
}

.game-6 {
     background: url("https://cdn.discordapp.com/attachments/1075621727004016721/1143886863627722863/Forza.png"), lightgray 50% / cover no-repeat;
}

.game-7 {
     background: url("https://cdn.discordapp.com/attachments/1075621727004016721/1143886864026189916/GTAV.png"), lightgray 50% / cover no-repeat;
}

.game-8 {
     background: url("https://cdn.discordapp.com/attachments/1075621727004016721/1143886864269451436/LOL.png"), lightgray 50% / cover no-repeat;
}

/* {
     position: absolute;
     left: 0px;
     top: 0px;
} */

/* D:\GitHub_Repositories\Web_Dev\Streak_GamingWebsite\Img */